<div class="curso">
  <div class="card-container">
    <div class="card-img500">
      <img class="img" src="../../../assets/cursos/python.svg" alt="">
    </div>
    <div class="card">
      <h2>
        ¿Qué es Python?
      </h2>
      <p>
        Python es un lenguaje de programación interpretado, de código abierto y multiparadigma. Fue creado en la década
        de 1990 por Guido van Rossum y se ha convertido en uno de los lenguajes de programación más utilizados en una
        amplia variedad de aplicaciones, desde desarrollo web y científico hasta automatización de tareas y aprendizaje
        automático.
      </p>
      <h2>
        ¿Por qué aprender Python?
      </h2>
      <p>
        Por su versatilidad, facilidad de uso y relevancia en una variedad de aplicaciones, así como a su demanda en el
        mercado laboral y su papel en tecnologías emergentes como la inteligencia artificial. Ya sea que desees
        desarrollar sitios web, realizar análisis de datos, automatizar tareas o explorar el aprendizaje automático,
        Python es una herramienta valiosa en tu conjunto de habilidades.
      </p>
    </div>
    <div class="card-img">
      <img class="img" src="../../../assets/cursos/python.svg" alt="">
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Que aprenderás en este curso:</h2>
        <p>
          <li>Configuración y entorno de desarrollo.</li>
          <li>Variables y tipos de datos.</li>
          <li>Operadores aritméticos y de comparación.</li>
          <li>Declaraciones condicionales (if, elif, else).</li>
          <li>Bucles (for y while).</li>
          <li>Listas, tuplas y diccionarios.</li>
          <li>Acceso y manipulación de elementos.</li>
          <li>Definición de funciones.</li>
          <li>Argumentos y parámetros.</li>
          <li>Retorno de valores.</li>
          <li>Ámbito de las variables (scope).</li>
          <li>Entrada de usuario (input).</li>
          <li>Salida a la consola (print).</li>
          <li>Importación de módulos.</li>
          <li>Uso de bibliotecas estándar (por ejemplo, math, random).</li>
          <li>Manipulación de cadenas.</li>
          <li>Convenciones de nomenclatura.</li>
      </div>
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Metodología:</h2>
        <p>
          <li>Clases en vivo online e interactivas.</li>
          <li>Clases personalizadas.</li>
          <li>Flexibilidad.</li>
          <li>Sin tanto tecnicismo.</li>
          <li>Prácticas constantes.</li>
          <li>Ayuda permanente.</li>
          <li>Trato ameno y cordial.</li>
          <br>
          <br>
        </p>
        <h2>! COMIENZA HOY MISMO !</h2>
        <button routerLink="/contacto">CONTACTAME</button>
      </div>
    </div>
  </div>
</div>
