<div class="videos">
  <div class="videos-container">
    <div *ngFor="let i of videos">
      <div class="video">
        <youtube-player videoId="{{i}}" suggestedQuality="hd1080"
        [height]="height" [width]="width" [startSeconds]="0"
        [endSeconds]="8">
      </youtube-player>

      </div>
    </div>
  </div>
</div>

<!-- <div class="videos">
  <div class="video-container">
    <div *ngFor="let i of videos">
      <div class="vid"></div>
      <youtube-player class="vid" videoId="{{i}}" suggestedQuality="hd1080" [height]="height" [width]="width" [startSeconds]="0"
        [endSeconds]="8">
      </youtube-player>
    </div>
  </div>
</div> -->



<!-- <h1>PAGINA EN ACTUALIZACION...</h1>
<div class="videos">
  <youtube-player videoId="VB4LdykHWfc" suggestedQuality="hd1080" [height]="height" [width]="width"
  [startSeconds]="0" [endSeconds]="8">
</youtube-player> -->
<!-- <youtube-player videoId="VB4LdykHWfc" suggestedQuality="hd1080" [height]="height" [width]="width"
[startSeconds]="0" [endSeconds]="8">
</youtube-player>
<youtube-player videoId="VB4LdykHWfc" suggestedQuality="hd1080" [height]="height" [width]="width"
[startSeconds]="0" [endSeconds]="8">
</youtube-player>
<youtube-player videoId="VB4LdykHWfc" suggestedQuality="hd1080" [height]="height" [width]="width"
[startSeconds]="0" [endSeconds]="8">
</youtube-player> -->
<!-- </div> -->
