<div class="curso">
  <div class="card-container">
    <div class="card-img500">
      <img class="img" src="../../../assets/cursos/angular.svg" alt="">
    </div>
    <div class="card">
      <h2>
        ¿Qué es Angular?
      </h2>
      <p>
        Angular es un framework de desarrollo web que se utiliza para crear aplicaciones web de una sola página (SPA) y
        aplicaciones web dinámicas. Está escrito en TypeScript y se basa en el patrón de diseño Modelo-Vista-Controlador
        (MVC). El enfoque principal de Angular es proporcionar una estructura y herramientas para la creación de
        aplicaciones web robustas, escalables y mantenibles.
      </p>
      <h2>
        ¿Por qué aprender Angular?
      </h2>
      <p>
        Es uno de los principales frameworks en el desarrollo de aplicaciones web modernas y dinámicas.
        Ofrece una serie de características y patrones de diseño que mejoran la productividad del desarrollador, la
        reactividad de las aplicaciones y la organización del código. Con la creciente demanda de aplicaciones web de
        alta calidad, Angular se ha convertido en una habilidad valiosa en el campo del desarrollo web.
      </p>
    </div>
    <div class="card-img">
      <img class="img" src="../../../assets/cursos/angular.svg" alt="">
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Que aprenderás en este curso:</h2>
        <p>
          <li>Configuración del entorno de desarrollo.</li>
          <li>Creación y estructura de la aplicación.</li>
          <li>Creación y estructura de componentes.</li>
          <li>Directivas en Angular.</li>
          <li>Módulos en Angular.</li>
          <li>Uso de inyección de dependencias en Angular.</li>
          <li>Creación de servicios y su inyección.</li>
          <li>Realización de solicitudes HTTP.</li>
          <li>Consumo de servicios web en Angular.</li>
          <li>Configuración de enrutamiento en Angular.</li>
          <li>Navegación entre vistas.</li>
          <li>Uso de observables en Angular.</li>
          <li>Mostrar mensajes de error al usuario.</li>
          <li>Interceptores.</li>
          <li>Ejecucion de la aplicacion en desarrollo.</li>
          <li>Preparación y despliegue de una aplicación Angular.</li>
      </div>
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Metodología:</h2>
        <p>
          <li>Clases en vivo online e interactivas.</li>
          <li>Clases personalizadas.</li>
          <li>Flexibilidad.</li>
          <li>Sin tanto tecnicismo.</li>
          <li>Prácticas constantes.</li>
          <li>Ayuda permanente.</li>
          <li>Trato ameno y cordial.</li>
          <br>
          <br>
        </p>
        <h2>! COMIENZA HOY MISMO !</h2>
        <button routerLink="/contacto">CONTACTAME</button>
      </div>
    </div>
  </div>
</div>
