<div class="curso">
  <div class="card-container">
    <div class="card-img500">
      <img class="img" src="../../../assets/cursos/html.svg" alt="">
    </div>
    <div class="card">
      <h2>
        ¿Qué es Html y CSS?
      </h2>
      <p>
        HTML es el lenguaje de marcado utilizado para crear la estructura y el contenido de las páginas web. Es el
        esqueleto de una página web y se utiliza para definir los elementos y su jerarquía.
        CSS es un lenguaje utilizado para dar estilo y diseño a las páginas web creadas con HTML. Define la apariencia
        de los elementos HTML, como colores, fuentes, márgenes, espaciado y diseño.
      </p>
      <h2>
        ¿Por qué aprender Html y CSS?
      </h2>
      <p>
        Aprender HTML y CSS es fundamental para cualquiera interesado en el desarrollo web, ya que son la base de la
        creación y el diseño de páginas web. Son las habilidades esenciales para la construcción de sitios web
        atractivos y funcionales, y son el punto de partida para adentrarse en tecnologías web más avanzadas, como
        JavaScript, Angular, React y otros.
      </p>
    </div>
    <div class="card-img">
      <img class="img" src="../../../assets/cursos/html.svg" alt="">
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Que aprenderás en este curso:</h2>
        <p>
          <li>Estructura de una página HTML.</li>
          <li>Etiquetas HTML:</li>
          <li>Creación de enlaces (a).</li>
          <li>Inserción de imágenes (img).</li>
          <li>Diseño de formularios (form, input, label, button).</li>
          <li>Incorporación de CSS en un documento HTML.</li>
          <li>Cambio de colores, fuentes y márgenes.</li>
          <li>Entender el modelo de caja (box model).</li>
          <li>Ajuste del espaciado, borde y relleno.</li>
          <li>Uso de propiedades como display y float.</li>
          <li>Diseño de enlaces y botones con CSS.</li>
          <li>Diseño responsivo con CSS.</li>
          <li>Conceptos básicos de flexbox.</li>
          <li>Conceptos básicos de CSS Grid.</li>
      </div>
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Metodología:</h2>
        <p>
          <li>Clases en vivo online e interactivas.</li>
          <li>Clases personalizadas.</li>
          <li>Flexibilidad.</li>
          <li>Sin tanto tecnicismo.</li>
          <li>Prácticas constantes.</li>
          <li>Ayuda permanente.</li>
          <li>Trato ameno y cordial.</li>
          <br>
          <br>
        </p>
        <h2>! COMIENZA HOY MISMO !</h2>
        <button routerLink="/contacto">CONTACTAME</button>
      </div>
    </div>
  </div>
</div>
