.demos {
  padding: 2em 10em;
  padding-bottom: 12em;
  display: block;
  justify-content: center;
  @include m720 {
    height: 90vh;
    padding: 1em 1em;
  }
  @include m500 {
    padding: 1em .5em;
  }

  .text {
    margin-bottom: 2em;
    a{
      text-decoration: none;
    }
  }

  .preview {
    height: 832px;
    width: 100%;
    border-radius: 1em;
    object-fit: cover;
    @include m720 {
      height: 400px;
    }

    @include m500 {
      height: 280px;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px $grey;
    }

  }
}
