.news {
  padding: 0 10em;
  padding-bottom: 12em;
  display: flex;
  justify-content: center;
  //background-color: rgba(128, 128, 128, 0.267);
  @include m500 {
    padding: 0 .5em;
    padding-bottom: 8em;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    //position: relative;
    justify-content: space-between;
    //background-color: aqua;
    margin-top: 3em;

    @include m500 {
      margin-top: 0.5em;
    }

    .card {
      //width: calc(20% - 20px);
      margin-bottom: 30px;
      width: 500px;
      height: 550px;
      border-radius: 15px 15px;
      //background-color: lightgray;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      text-decoration: none;
      color: black;

      //justify-content: center;
      @include m500 {
        margin-bottom: 20px;
        width: 380px;
        height: 500px;
      }

      .img {
        height: 300px;
        width: 500px;
        object-fit: cover;
        padding: 0;
        border-radius: 15px 15px;

        @include m500 {
          height: 250px;
          width: 380px;
        }
      }

      .author {
        font-size: 0.75em;
        color: $blue;
        border-radius: 15px 15px;
      }

      ;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px $grey;
      }
    }
  }
}
