<div class="curso">
  <div class="card-container">
    <div class="card-img500">
      <img class="img" src="../../../assets/cursos/java.svg" alt="">
    </div>
    <div class="card">
      <h2>
        ¿Qué es Java?
      </h2>
      <p>
        Java es un lenguaje de programación de alto nivel, orientado a objetos y de propósito general. Fue desarrollado
        por Sun Microsystems (ahora propiedad de Oracle) en la década de 1990. Java se caracteriza por su portabilidad,
        lo que significa que el código Java puede ejecutarse en múltiples plataformas sin necesidad de modificaciones,
        gracias a la Máquina Virtual Java (JVM, Java Virtual Machine).
      </p>
      <h2>
        ¿Por qué aprender Java?
      </h2>
      <p>
        Java es importante de aprender debido a su versatilidad, portabilidad y su papel en una amplia gama de
        aplicaciones y sistemas. También es un lenguaje de programación que brinda una base sólida para el aprendizaje
        de conceptos de programación y tiene una demanda constante en el mercado laboral, lo que lo convierte en una
        habilidad valiosa para programadores y desarrolladores.
      </p>
    </div>
    <div class="card-img">
      <img class="img" src="../../../assets/cursos/java.svg" alt="">
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Que aprenderás en este curso:</h2>
        <p>
          <li>Variables y tipos de datos.</li>
          <li>Operadores aritméticos y de comparación.</li>
          <li>Estructuras de control (if, else, switch).</li>
          <li>Bucles (for, while, do-while).</li>
          <li>Uso de operadores lógicos.</li>
          <li>Definición y llamada de métodos.</li>
          <li>Parámetros y retorno de valores.</li>
          <li>Listas y colecciones (ArrayList).</li>
          <li>Clases y objetos.</li>
          <li>Atributos y métodos.</li>
          <li>Encapsulamiento y constructores.</li>
          <li>Herencia.</li>
          <li>Polimorfismo básico.</li>
          <li>Uso de clases Scanner e InputStreamReader</li>
          <li>Manejo basico de Excepciones.</li>
      </div>
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Metodología:</h2>
        <p>
          <li>Clases en vivo online e interactivas.</li>
          <li>Clases personalizadas.</li>
          <li>Flexibilidad.</li>
          <li>Sin tanto tecnicismo.</li>
          <li>Prácticas constantes.</li>
          <li>Ayuda permanente.</li>
          <li>Trato ameno y cordial.</li>
          <br>
          <br>
        </p>
        <h2>! COMIENZA HOY MISMO !</h2>
        <button routerLink="/contacto">CONTACTAME</button>
      </div>
    </div>
  </div>
</div>
