<div class="footer">
  <div class="left-footer">
    <div class="social">
      <a href="https://wa.me/573142015171" target="_blank">
        <img src="../../../assets/rrss/footer/whatsapp.svg" alt="Whatsapp">
      </a>
      <a href="https://www.youtube.com/@natsoftx" target="_blank">
        <img src="../../../assets/rrss/footer/youtube.svg" alt="Youtube">
      </a>
      <a href="" target="_blank">
        <img src="../../../assets/rrss/footer/facebook.svg" alt="Faceboox">
      </a>
      <a href="https://twitter.com/natsoftx" target="_blank">
        <img src="../../../assets/rrss/footer/x.svg" alt="X">
      </a>
      <a href="https://www.instagram.com/natsoft/" target="_blank">
        <img src="../../../assets/rrss/footer/instagram.svg" alt="Instagram">
      </a>
      <a href="https://www.threads.net/@natsoft" target="_blank">
        <img src="../../../assets/rrss/footer/threads.svg" alt="Threads">
      </a>
    </div>
    <div class="contact" routerLink="contacto">
      Contacta con Nosotros
    </div>
  </div>
  <div class="right-footer">
    <div class="logoFooter">
      <img src="../../../assets/rrss/footer/logo_footer.svg" alt="Natsoft">
    </div>
    <div class="rights">
      Developed by &copy; Natsoft 2023
    </div>
  </div>
</div>
