<div class="curso">
  <div class="card-container">
    <div class="card-img500">
      <img class="img" src="../../../assets/cursos/php.svg" alt="">
    </div>
    <div class="card">
      <h2>
        ¿Qué es Php?
      </h2>
      <p>
        PHP es un lenguaje de programación de servidor diseñado específicamente para la creación de aplicaciones web
        dinámicas. PHP se ejecuta en el servidor web y se utiliza para generar contenido web de manera dinámica, lo que
        significa que puedes crear páginas web que se generan en tiempo real en función de la interacción del usuario,
        datos de la base de datos u otras fuentes.
      </p>
      <h2>
        ¿Por qué aprender Php?
      </h2>
      <p>
        PHP es importante de aprender debido a su papel fundamental en el desarrollo web dinámico y su amplia adopción
        en la industria. Es una herramienta esencial para cualquier persona interesada en crear aplicaciones web
        interactivas y dinámicas, y ofrece oportunidades de empleo en el campo del desarrollo web y la programación.
      </p>
    </div>
    <div class="card-img">
      <img class="img" src="../../../assets/cursos/php.svg" alt="">
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Que aprenderás en este curso:</h2>
        <p>
          <li>Variables y tipos de datos.</li>
          <li>Operadores aritméticos y de comparación.</li>
          <li>Estructuras de control (if, else, switch).</li>
          <li>unciones en PHP.</li>
          <li>Declaración y uso de arrays.</li>
          <li>Iteración sobre arrays (for, foreach).</li>
          <li>Uso de include y require.</li>
          <li>Formateo y cálculos de tiempo.</li>
          <li>Conexión a bases de datos MySQL.</li>
          <li>Consultas SQL básicas.</li>
          <li>Errores y excepciones en PHP.</li>
          <li>Uso de bloques try-catch.</li>
          <li>Organización de código en múltiples archivos.</li>
          <li>Funciones predefinidas de PHP.</li>
      </div>
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Metodología:</h2>
        <p>
          <li>Clases en vivo online e interactivas.</li>
          <li>Clases personalizadas.</li>
          <li>Flexibilidad.</li>
          <li>Sin tanto tecnicismo.</li>
          <li>Prácticas constantes.</li>
          <li>Ayuda permanente.</li>
          <li>Trato ameno y cordial.</li>
          <br>
          <br>
        </p>
        <h2>! COMIENZA HOY MISMO !</h2>
        <button routerLink="/contacto">CONTACTAME</button>
      </div>
    </div>
  </div>
</div>
