<div class="demos">
  <div class="text">
    <h2>Demo Aplicación Web PHP, Angular, MySQL</h2>
    <br>
    <li><a href="https://pet.natsoft.cloud/" target="_blank">https://pet.natsoft.cloud</a>
    </li><br>
    <li><a href="https://www.youtube.com/watch?v=8FptNv2a_sQ&list=PLnfNQrX0jBr0YgKgX2BvXmuc9gwSNC9e0" target="_blank">
        Lista de reproducción en Youtube.
      </a></li>
  </div>
  <a href="https://pet.natsoft.cloud/" target="_blank">
    <img class="preview" src="../../../assets/pet.jpg" alt="">
  </a>
</div>
