<div class="curso">
  <div class="card-container">
    <div class="card-img500">
      <img class="img" src="../../../assets/cursos/javascript.svg" alt="">
    </div>
    <div class="card">
      <h2>
        ¿Qué es Javascript?
      </h2>
      <p>
        JavaScript es un lenguaje de programación que se ejecuta en el navegador web del usuario. Permite la creación de
        aplicaciones web interactivas, dinámicas y ricas en contenido, mejorando la experiencia del usuario en los
        sitios web. JavaScript se utiliza para manipular el Document Object Model (DOM) de una página web, lo que
        significa que puede modificar elementos HTML, responder a eventos del usuario y realizar peticiones a servidores
        web para cargar o enviar datos sin necesidad de recargar la página.
      </p>
      <h2>
        ¿Por qué aprender Javascript?
      </h2>
      <p>
        JavaScript es importante de aprender debido a su papel central en el desarrollo web moderno y su capacidad para
        crear experiencias interactivas y dinámicas en el navegador. Es una habilidad esencial para cualquier persona
        interesada en programación web y puede ser un trampolín para una carrera exitosa en desarrollo web y tecnología.
      </p>
    </div>
    <div class="card-img">
      <img class="img" src="../../../assets/cursos/javascript.svg" alt="">
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Que aprenderás en este curso:</h2>
        <p>
          <li>Variables y tipos de datos.</li>
          <li>Operadores aritméticos y de comparación.</li>
          <li>Declaraciones condicionales (if, else).</li>
          <li>Bucles (for, while).</li>
          <li>Manejo de switch.</li>
          <li>Funciones en JavaScript.</li>
          <li>Manipulación de Strings.</li>
          <li>Arreglos y Bucles.</li>
          <li>Creación de objetos, propiedades y métodos.</li>
          <li>Eventos y Manipulación del DOM.</li>
          <li>Recopilación de datos de formularios.</li>
          <li>Callbacks y funciones asincrónicas.</li>
          <li>Objeto Window y Navegador.</li>
          <li>Ajax y Comunicación con el Servidor.</li>
      </div>
    </div>
    <div class="card-sec">
      <div class="contenido">
        <h2>Metodología:</h2>
        <p>
          <li>Clases en vivo online e interactivas.</li>
          <li>Clases personalizadas.</li>
          <li>Flexibilidad.</li>
          <li>Sin tanto tecnicismo.</li>
          <li>Prácticas constantes.</li>
          <li>Ayuda permanente.</li>
          <li>Trato ameno y cordial.</li>
          <br>
          <br>
        </p>
        <h2>! COMIENZA HOY MISMO !</h2>
        <button routerLink="/contacto">CONTACTAME</button>
      </div>
    </div>
  </div>
</div>
